<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SendMail</h1>
    <form action="/" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br><br>
        <label for="name">Username</label>
        <input type="text" name="name" id="name"><br><br>
        <label for="text">Text</label>
        <input type="text" name="text" id="text"><br><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>