<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create task</title>
</head>
<body>
    <h1>Links List</h1>
    <a href="/users/create">Create user</a>
    <a href="/tasks/create">Create task</a>
    <a href="/users/all">All users</a>
    <a href="/tasks/all">All tasks</a>

</html>